.hide {
  display: none;
}

#header {
    margin-left: -20px;
}
#symbol {
    margin-top: -12px;
}
/* START STUDENT.HTML */

#col {
    height: 50px;
}

#table{
    height: 300px;
    float: left;
    margin-top: 30px;
}

#search {
    margin-top: 50px;
    margin-left: 100px;
}
/* END STUDENT.HTML */

/* START PROFESSOR.HTML */


#professor {
    background-image: url("/images/professor.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*END PROFESSOR.HTML*/
