.hide {
  display: none;
}

#name {
    margin-right: 100px;
}

tr {
width: 100%;
display: inline-table;
height:60px;                // <-- the rows height 
}

table{
 height:500px;              // <-- Select the height of the table
 display: -moz-groupbox;    // For firefox bad effect
}

