.hide {
  display: none;
}

/* START STUDENT.HTML */

#col {
    height: 50px;
}

#table{
    height: 300px;
    float: left;
    margin-top: 30px;
}

#search {
    margin-top: 50px;
    margin-left: 100px;
}


/* END STUDENT.HTML */