#professor {
    /*background-image: url("../images/background.jpg");*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
} 
#courseSearch {
      height: 400px;

}
#searchResults {
    list-style-type: none;
    font-family: Dotum, arial;
    font-size: 18px;



}
#mycourses {
    width:270px;
    text-align: center;
}
#searchForCourses {
    border-left: 1px solid grey;
    height: 400px;
    width: 650px;
}
