
#course{
	font-family: monospace, "Courier New", serif;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}

#Availabletest{
	font-family: monospace, "Courier New", serif;
	font-size: 30px;
	margin-top: 50px; 
	text-align: center;
	border: 1px solid gray;
	height: 400px;
	padding-top: 20px;
	margin-left: 170px;
	margin-right: 20px;
	background-color: white;
	box-shadow: 0 0 40px #888888;
	border-radius: 5px;
}

#Myresults{
	font-family: monospace, "Courier New", serif;
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
	border: 1px solid gray;
	height: 400px;
	padding-top: 20px;
	background-color: white;
	box-shadow: 0 0 40px #888888;
	border-radius: 5px;
}
#Myresults:hover{
	font-size: 30px;
	border-color:white; 
   
    box-shadow: 0 0 60px #888888;
	padding-top: 20px;
	background-color:white ;
	
	border-radius: 10px;
	
}
#Courseresults:hover{
	font-size: 30px;
	border-color:white; 
   
    box-shadow: 0 0 60px #888888;
	padding-top: 20px;
	background-color:white ;
	border-radius: 10px;
	border-radius: 10px;
	
	
}
#Availabletest:hover{
	font-size: 30px;
	border-color:white; 
   
    box-shadow: 0 0 60px #888888;
	padding-top: 20px;
	background-color:white ;
	border-radius: 10px;
	border-radius: 10px;
	
}
#Courseresults{
	font-family: monospace, "Courier New", serif;
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
	border: 1px solid gray;
	height: 400px;
	padding-top: 20px;
	margin-left: 20px;
	background-color: white;
	box-shadow: 0 0 40px #888888;
	border-radius: 5px;
}
	
#opacity{
  
}

body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	background-color: white;
	opacity: 0.5;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;  
}
